<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/TerritoriesModel.csdl|res://*/TerritoriesModel.ssdl|res://*/TerritoriesModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string='data source=localhost;initial catalog=&quot;E:\documentos\zeqk\Visual Studio 2008\Projects\territoriesmanagement_firebird\Territories.DB\TERRIOTIRESDB.FDB&quot;;user id=SYSDBA;password=masterkey;server type=0'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>