/territoriesmanagement/TestConsole/bin
/territoriesmanagement/TestConsole/obj
/territoriesmanagement/TerritoriesManagement/bin
/territoriesmanagement/TerritoriesManagement/obj
/territoriesmanagement/TerritoriesManagement.GUI/bin
/territoriesmanagement/TerritoriesManagement.GUI/obj
