<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/TerritoriesModel.csdl|res://*/TerritoriesModel.ssdl|res://*/TerritoriesModel.msl;provider=System.Data.SqlClient;provider connection string='Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Territories;Data Source=(local)\SQLEXPRESS'"
      providerName="System.Data.EntityClient" />
    <add name="Territories.DAL2.Properties.Settings.TerritoriesDataContext"
      connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Territories;Data Source=(local)\SQLEXPRESS"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>