<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/TerritoriesModel.csdl|res://*/TerritoriesModel.ssdl|res://*/TerritoriesModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string='data source=localhost;initial catalog=&quot;C:\Documents and Settings\interaccionliuh\Mis documentos\Visual Studio 2008\Projects\territoriesmanagement\Territories.DB\TERRIOTIRESDB.FDB&quot;;user id=SYSDBA;password=masterkey;server type=0;Charset=UTF8'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>