<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/TerritoriesModel.csdl|res://*/TerritoriesModel.ssdl|res://*/TerritoriesModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Documentos\zeqk\Visual Studio 2008\Projects\TerritoriesManagement\Territories.DB\Territories.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True'"
      providerName="System.Data.EntityClient" />
    <add name="Territories.DAL2.Properties.Settings.TerritoriesDataContext"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\interaccionliuh\Mis documentos\Visual Studio 2008\Projects\TerritoriesManagement\Territories.DB\Territories.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>