<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient"
             description=".Net Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.5.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/TerritoriesModel.csdl|res://*/TerritoriesModel.ssdl|res://*/TerritoriesModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string='ServerType=1;User=SYSDBA;Password=masterkey;Dialect=3;Database=TERRITORIESDB.FDB;Charset=UTF8'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>