<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TerritoriesDataContext" connectionString="metadata=res://*/Model.TerritoriesModel.csdl|res://*/Model.TerritoriesModel.ssdl|res://*/Model.TerritoriesModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string='character set=UTF8;ServerType=1;User=SYSDBA;Password=masterkey;Dialect=3;Database=TERRITORIESDB.FDB'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>